<div id="main">

    <!-- control-pane: Left-side of the Dashboard -->
    <div id="control-pane" class="white-round" style="position: relative">
        <form style="width: 100%">
            <!-- Term occurence -->
            <p>Term occurence:</p>
            <div class="radio">
                <label style="margin-left: 20px"><input type="radio" [(ngModel)]="occurence" name="occurence"
                                                        value="binary">Binary</label>
            </div>
            <div class="radio">
                <label style="margin-left: 20px"><input type="radio" [(ngModel)]="occurence" name="occurence"
                                                        value="counting">Counting</label>
            </div>

            <!-- Term-Normalization -->
            <div class="checkbox">
                <label style="width: auto"><input type="checkbox" [(ngModel)]="normalization" name="normalization"
                                                  value="false">Term-Normalization</label>
            </div>

            <!-- N-Grams -->
            <p>N-Grams:</p>
            <select name="role" class="form-control" style="width: auto" [(ngModel)]="ngrams">
                <option value="1-1">1-1</option>
                <option value="1-2">1-2</option>
                <option value="1-3">1-3</option>
                <option value="2-2">2-2</option>
                <option value="2-3">2-3</option>
                <option value="3-3">3-3</option>
            </select>

            <p>Datapoints:</p>
            <select name="role" class="form-control" style="width: auto" [(ngModel)]="datapoints">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
            </select>
        </form>

        <button class="info-action btn" (click)="getSentimentData()" style="position: absolute; bottom: 0; margin-top: 0px; width: 230px; margin-bottom: 50px;">
            Calculate Sentiment
        </button>
    </div>

    <!-- action-pane: Right-side of the Dashboard -->
    <div id="action-pane" class="white-round">
        <li *ngIf="showSpinner" style="height: 80%; width: 100%; display: flex; align-items: center; justify-content: center;">
            <i class="fa fa-spinner fa-spin" style="font-size:100px"></i>
        </li>
        <canvas baseChart *ngIf="rerender && datasets.length > 0"
                class="chart"
                [datasets]="datasets"
                [labels]="labels"
                [options]="options"
                [chartType]="'line'">
        </canvas>
        <p *ngIf="overallSentiment != ''">Overall Sentiment: {{overallSentiment}}</p>

    </div>


</div>
