<!-- Header -->
<header>
    <div class="white-round logo" style="margin-bottom: 0px; margin-top: 5px; float: left; height: 50px; text-align: center; display: table;
    vertical-align: middle">
        <p style="display: table-cell; vertical-align: middle;">Hashtag#Analysis</p>
    </div>
</header>


<div id="header-nav" class="white-round" style="margin-top: 0px">
    <ul>
        <li style="">
            <label for="hashtag" style="font-weight: inherit; color: white;">Hashtag:</label>
            <input [(ngModel)]="hashtagInput" type="text" class="form-control" id="hashtag" style="display: inherit; height: 30px; width: 120px;">
        </li>

        <li style="">
            <label for="ip" style="font-weight: inherit; color: white;">Tweets:</label>
            <input [(ngModel)]="itemsInput" type="text" class="form-control" id="ip" style="display: inherit; height: 30px; width: 60px;">
        </li>

        <li>
            <button class="info-action btn" (click)="getNewTweets()">
                Get new tweets
            </button>
        </li>

        <li *ngIf="showSpinner">
            <i class="fa fa-spinner fa-spin" style="font-size:22px"></i>
        </li>

        <li *ngIf="hashtag != undefined">
            <a style="float: right; pointer-events: none; cursor: default; padding-top: 8px;"><i>Current Tweets from: #{{hashtag}}</i></a>
        </li>
        <li *ngIf="hashtag == undefined">
            <a style="color: red; float: right; pointer-events: none; cursor: default; padding-top: 8px;"><i>Current Tweets from: -</i></a>
        </li>
    </ul>

</div>

<!-- ################################################################################### -->

<div id="main">

  <!-- control-pane: Left-side of the screen -->
  <control-pane></control-pane>

  <!-- data-pane: Right-side of the screen-->
  <data-pane></data-pane>


  <!--<div id="control-pane" class="white-round" style="position: relative">-->
    <!--<li *ngIf="showSpinner" style="height: 80%; width: 100%; display: flex; align-items: center; justify-content: center;">-->
      <!--<i class="fa fa-spinner fa-spin" style="font-size:100px"></i>-->
    <!--</li>-->
  <!--</div>-->

  <!--&lt;!&ndash; action-pane: Right-side of the Dashboard &ndash;&gt;-->
  <!--<div id="action-pane" class="white-round">-->
    <!--<li *ngIf="showSpinner" style="height: 80%; width: 100%; display: flex; align-items: center; justify-content: center;">-->
      <!--<i class="fa fa-spinner fa-spin" style="font-size:100px"></i>-->
    <!--</li>-->
    <!--<canvas baseChart *ngIf="rerender && datasets.length > 0"-->
            <!--class="chart"-->
            <!--[datasets]="datasets"-->
            <!--[labels]="labels"-->
            <!--[options]="options"-->
            <!--[chartType]="'line'">-->
    <!--</canvas>-->
    <!--<p *ngIf="overallSentiment != ''">Overall Sentiment: {{overallSentiment}}</p>-->

  <!--</div>-->


</div>

