<!-- Header -->
<header>
    <div class="white-round logo" style="margin-bottom: 0px; margin-top: 5px; float: left; height: 50px; text-align: center; display: table;
    vertical-align: middle">
        <p style="display: table-cell; vertical-align: middle;">Hashtag#Analysis</p>
    </div>
</header>


<div id="header-nav" class="white-round" style="margin-top: 0px">
    <ul>
        <li style="">
            <label for="hashtag" style="font-weight: inherit; color: white;">Hashtag:</label>
            <input [(ngModel)]="hashtagInput" type="text" class="form-control" id="hashtag" style="display: inherit; height: 30px; width: 120px;">
        </li>

        <li style="">
            <label for="ip" style="font-weight: inherit; color: white;">Tweets:</label>
            <input [(ngModel)]="itemsInput" type="text" class="form-control" id="ip" style="display: inherit; height: 30px; width: 60px;">
        </li>

        <li>
            <button class="info-action btn" (click)="getNewTweets()">
                Get new tweets
            </button>
        </li>

        <li *ngIf="showSpinner">
            <i class="fa fa-spinner fa-spin" style="font-size:22px"></i>
        </li>

        <li *ngIf="hashtag != undefined">
            <a style="float: right; pointer-events: none; cursor: default; padding-top: 8px;"><i>Current Tweets from: #{{hashtag}}</i></a>
        </li>
        <li *ngIf="hashtag == undefined">
            <a style="color: red; float: right; pointer-events: none; cursor: default; padding-top: 8px;"><i>Current Tweets from: -</i></a>
        </li>
    </ul>

</div>

<!-- ################################################################################### -->

<div id="main">

  <!-- Control-pane: Left-side of the Dashboard -->
  <div id="control-pane" class="white-round" style="position: relative">
    <control-pane></control-pane>
  </div>

  <!-- Action-pane: Right-side of the Dashboard -->
  <div id="action-pane" class="white-round">
    <data-pane style="width: 75%; height: 100%;"></data-pane>
  </div>


</div>

