<ul class="heroes">
  <li *ngIf="hashtag != undefined" (click)="onSelectAllTweets()" [class.selected]="hashtagSelected">
    <div class="badge" style="background-color: #FFD300">{{hashtag}}</div>
    <div style="width: 50%; overflow: hidden; text-overflow: ellipsis; float: right; padding-left: 0.4em;">
      Show overall
    </div>
  </li>
  <li *ngFor="let tweet of tweets" (click)="onSelectTweet(tweet)"
      [class.selected]="tweet === selectedTweet">
    <div class="badge">{{tweet.author}}</div>
    <div style="white-space: nowrap; width: 50%; overflow: hidden; text-overflow: ellipsis; float: right; padding-left: 0.4em;">
      {{tweet.text}}
    </div>
  </li>
</ul>


